.rbc-event {
    display: flex;
    flex-direction: column;
    justify-content: center;  /* Centra verticalmente */
    align-items: center;  /* Centra horizontalmente */
    text-align: center; /* Asegura que el texto dentro esté centrado */
    padding: 4px; /* Evita que el texto se pegue a los bordes */
    white-space: pre-line; /* Permite los saltos de línea correctamente */
    overflow: hidden; /* Evita que el texto se desborde */
}

.rbc-event-label {
    display: none !important;
}

.rbc-event-content .evento-calendario {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important; /* Centra verticalmente */
    align-items: center !important; /* Centra horizontalmente */
    text-align: center !important;
    width: 100%;
    height: 100%;
    font-size: 13px !important; /* Ajusta el tamaño del texto si es necesario */
    white-space: pre-line !important; /* Permite saltos de línea con "\n" */
    font-family: Arial, Helvetica, sans-serif;
}

.rbc-event-content .evento-calendario .evento-calendario-siglas {
    margin-bottom: 15px;
    font-size: 17px;
}

.rbc-event-content .evento-calendario .evento-calendario-grupo-aula, .evento-calendario-grupo-aula-laboratorio {
    font-size: 16px;
}

.rbc-event-content .evento-calendario .evento-calendario-grupo-aula-laboratorio {
    display: flex;
    flex-direction: column;
}

.rbc-event-content .evento-calendario .evento-calendario-grupo-aula-laboratorio .aula-laboratorio{
    font-size: 16px;
    margin-top: 15px;
}

.rbc-current-time-indicator {
    display: none !important;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Oscurece el fondo */
    backdrop-filter: blur(5px); /* Efecto difuminado */
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}
