.evento-popup {
    position: fixed; /* Cambiado de fixed a absolute */
    display: flex;
    flex-direction: column;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 8px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
    z-index: 1000;
    pointer-events: none; /* Evita interferencias con el hover */
    font-size: 14px;
    white-space: nowrap;
    font-family: Arial, Helvetica, sans-serif;
    width: 33%;
}

.informacion-popup {
    display: flex;
    flex-direction: column; 
    gap: 5px; /* Espacio entre líneas */
    margin-left: 5px;
}

.informacion-popup .informacion-nombre-siglas {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    
}

.informacion-popup .informacion-grupo, .informacion-aula, .informacion-profesor{
    display: flex;
    flex-direction: row; 
    gap: 5px;
}
