.filters-select {
  appearance: none !important;
  background-color: #FAFBFC !important;
  border: 1px solid rgba(27, 31, 35, 0.15) !important;
  border-radius: 6px !important;
  border-color: rgb(115, 115, 115) !important;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset !important;
  box-sizing: border-box !important;
  color: #24292E !important;
  cursor: pointer !important;
}

.ui.selection.dropdown .menu > .item[aria-selected="true"] {
  font-weight: bold;
  color: black !important; /* Texto negro */
}

/* Si la opción tiene un color específico, lo mantiene en el dropdown abierto */
.ui.selection.dropdown .menu > .item.selected {
  background-color: inherit !important;
}

.selected-asig-FFD4B4 {
  background-color: #FFD4B4 !important;
}
.selected-asig-AFC3C4 {
  background-color: #AFC3C4 !important;
}
.selected-asig-FFC3C4 {
  background-color: #FFC3C4 !important;
}
.selected-asig-EFC3C4 {
  background-color: #EFC3C4 !important;
}
.selected-asig-FFEFAE {
  background-color: #FFEFAE !important;
}
.selected-asig-CDD6F6 {
  background-color: #CDD6F6 !important;
}
.selected-asig-BEE9DD {
  background-color: #BEE9DD !important;
}
.selected-asig-00E0FC {
  background-color: #00E0FC !important;
}
.selected-asig-F1EFA5 {
  background-color: #F1EFA5 !important;
}
.selected-asig-F1F2EC {
  background-color: #F1F2EC !important;
}
.selected-asig-FECEA8 {
  background-color: #FECEA8 !important;
}
.selected-asig-FAD088 {
  background-color: #FAD088 !important;
}
.selected-asig-E0F6C3 {
  background-color: #E0F6C3 !important;
}
.selected-asig-FFCEA8 {
  background-color: #FFCEA8 !important;
}
.selected-asig-F9D423 {
  background-color: #F9D423 !important;
}
.selected-asig-F0B494 {
  background-color: #F0B494 !important;
}
.selected-asig-F7E4BE {
  background-color: #F7E4BE !important;
}
.selected-asig-F3EEA8 {
  background-color: #F3EEA8 !important;
}
.selected-asig-92D050 {
  background-color: #92D050 !important;
}
.selected-asig-F7E3BE {
  background-color: #F7E3BE !important;
}
.selected-asig-F1EFA4 {
  background-color: #F1EFA4 !important;
}
.selected-asig-E8CAA4 {
  background-color: #E8CAA4 !important;
}


.filters-select-container select {
  color: black !important; /* Letra en negro para el valor por defecto */
}

.filters-select:hover {
  background-color: #F3F4F6 !important;
  text-decoration: none !important;
  transition-duration: 0.1s !important;
}