.filters-select {
  appearance: none !important;
  background-color: #FAFBFC !important;
  border: 1px solid rgba(27, 31, 35, 0.15) !important;
  border-radius: 6px !important;
  border-color: rgb(115, 115, 115) !important;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset !important;
  box-sizing: border-box !important;
  color: #24292E !important;
  cursor: pointer !important;
}

.ui.selection.dropdown .menu > .item[aria-selected="true"] {
  font-weight: bold;
  color: black !important; /* Texto negro */
}

/* Si la opción tiene un color específico, lo mantiene en el dropdown abierto */
.ui.selection.dropdown .menu > .item.selected {
  background-color: inherit !important;
}

.ui.selection.dropdown.selected-asig- {
  font-size: 18px !important; /* Cambia a lo que necesites */
}

.ui.selection.dropdown.selected-asig- .text,
.ui.selection.dropdown.selected-asig- .item {
  font-size: 18px !important; /* Asegura que también se aplica a las opciones */
}

.ui.selection.dropdown.selected-asig- .item {
  font-size: 18px !important; /* Asegura que también se aplica a las opciones */
  border-top: 0px !important;
}



.selected-asig-E55050 {
  background-color: #E55050 !important;
  font-size: 18px !important;
}
.selected-asig-E55050 .item {
  font-size: 18px !important;
  border-top: 0px !important;
}

.selected-asig-FF8282 {
  background-color: #FF8282 !important;
  font-size: 18px !important;
}
.selected-asig-FF8282 .item {
  font-size: 18px !important;
  border-top: 0px !important;
}

.selected-asig-DA6C6C {
  background-color: #DA6C6C !important;
  font-size: 18px !important;
}
.selected-asig-DA6C6C .item {
  font-size: 18px !important;
  border-top: 0px !important;
}

.selected-asig-AF3E3E {
  background-color: #AF3E3E !important;
  font-size: 18px !important;
}
.selected-asig-AF3E3E .item {
  font-size: 18px !important;
  border-top: 0px !important;
}

.selected-asig-81E7AF {
  background-color: #81E7AF !important;
  font-size: 18px !important;
}
.selected-asig-81E7AF .item {
  font-size: 18px !important;
  border-top: 0px !important;
}

.selected-asig-DDF6D2 {
  background-color: #DDF6D2 !important;
  font-size: 18px !important;
}
.selected-asig-DDF6D2 .item {
  font-size: 18px !important;
  border-top: 0px !important;
}

.selected-asig-CAE8BD {
  background-color: #CAE8BD !important;
  font-size: 18px !important;
}
.selected-asig-CAE8BD .item {
  font-size: 18px !important;
  border-top: 0px !important;
}

.selected-asig-B0DB9C {
  background-color: #B0DB9C !important;
  font-size: 18px !important;
}
.selected-asig-B0DB9C .item {
  font-size: 18px !important;
  border-top: 0px !important;
}

.selected-asig-FFF085 {
  background-color: #FFF085 !important;
  font-size: 18px !important;
}
.selected-asig-FFF085 .item {
  font-size: 18px !important;
  border-top: 0px !important;
}

.selected-asig-F6F193 {
  background-color: #F6F193 !important;
  font-size: 18px !important;
}
.selected-asig-F6F193 .item {
  font-size: 18px !important;
  border-top: 0px !important;
}

.selected-asig-FADA7A {
  background-color: #FADA7A !important;
  font-size: 18px !important;
}
.selected-asig-FADA7A .item {
  font-size: 18px !important;
  border-top: 0px !important;
}

.selected-asig-F3C623 {
  background-color: #F3C623 !important;
  font-size: 18px !important;
}
.selected-asig-F3C623 .item {
  font-size: 18px !important;
  border-top: 0px !important;
}

.selected-asig-FFC145 {
  background-color: #FFC145 !important;
  font-size: 18px !important;
}
.selected-asig-FFC145 .item {
  font-size: 18px !important;
  border-top: 0px !important;
}

.selected-asig-FF9F00 {
  background-color: #FF9F00 !important;
  font-size: 18px !important;
}
.selected-asig-FF9F00 .item {
  font-size: 18px !important;
  border-top: 0px !important;
}

.selected-asig-F39E60 {
  background-color: #F39E60 !important;
  font-size: 18px !important;
}
.selected-asig-F39E60 .item {
  font-size: 18px !important;
  border-top: 0px !important;
}

.selected-asig-FE7743 {
  background-color: #FE7743 !important;
  font-size: 18px !important;
}
.selected-asig-FE7743 .item {
  font-size: 18px !important;
  border-top: 0px !important;
}

.selected-asig-F1BA88 {
  background-color: #F1BA88 !important;
  font-size: 18px !important;
}
.selected-asig-F1BA88 .item {
  font-size: 18px !important;
  border-top: 0px !important;
}

.selected-asig-DE8F5F {
  background-color: #DE8F5F !important;
  font-size: 18px !important;
}
.selected-asig-DE8F5F .item {
  font-size: 18px !important;
  border-top: 0px !important;
}

.selected-asig-B17F59 {
  background-color: #B17F59 !important;
  font-size: 18px !important;
}
.selected-asig-B17F59 .item {
  font-size: 18px !important;
  border-top: 0px !important;
}

.selected-asig-AB886D {
  background-color: #AB886D !important;
  font-size: 18px !important;
}
.selected-asig-AB886D .item {
  font-size: 18px !important;
  border-top: 0px !important;
}

.selected-asig-BDDDE4 {
  background-color: #BDDDE4 !important;
  font-size: 18px !important;
  border-top: 0px !important;
}
.selected-asig-BDDDE4 .item {
  font-size: 18px !important;
  border-top: 0px !important;
}

.selected-asig-9EC6F3 {
  background-color: #9EC6F3 !important;
  font-size: 18px !important;
  border-top: 0px !important;
}
.selected-asig-9EC6F3 .item {
  font-size: 18px !important;
  border-top: 0px !important;
}

.selected-asig-9FB3DF {
  background-color: #9FB3DF !important;
  font-size: 18px !important;
  
}
.selected-asig-9FB3DF .item {
  font-size: 18px !important;
  border-top: 0px !important;
}

.selected-asig-BBE9FF {
  background-color: #BBE9FF !important;
  font-size: 18px !important;
}
.selected-asig-BBE9FF .item {
  font-size: 18px !important;
  border-top: 0px !important;
}

.selected-asig-F7CFD8 {
  background-color: #F7CFD8 !important;
  font-size: 18px !important;
}
.selected-asig-F7CFD8 .item {
  font-size: 18px !important;
  border-top: 0px !important;
}

.selected-asig-EABDE6 {
  background-color: #EABDE6 !important;
  font-size: 18px !important;
}
.selected-asig-EABDE6 .item {
  font-size: 18px !important;
  border-top: 0px !important;
}

.selected-asig-C95792 {
  background-color: #C95792 !important;
  font-size: 18px !important;
}
.selected-asig-C95792 .item {
  font-size: 18px !important;
  border-top: 0px !important;
}

.selected-asig-D69ADE {
  background-color: #D69ADE !important;
  font-size: 18px !important;
}
.selected-asig-D69ADE .item {
  font-size: 18px !important;
  border-top: 0px !important;
}

.selected-asig-EAE4D5 {
  background-color: #EAE4D5 !important;
  font-size: 18px !important;
}
.selected-asig-EAE4D5 .item {
  font-size: 18px !important;
  border-top: 0px !important;
}

.selected-asig-F2F2F2 {
  background-color: #F2F2F2 !important;
  font-size: 18px !important;
}
.selected-asig-F2F2F2 .item {
  font-size: 18px !important;
  border-top: 0px !important;
}

.selected-asig-D4C9BE {
  background-color: #D4C9BE !important;
  font-size: 18px !important;
}
.selected-asig-D4C9BE .item {
  font-size: 18px !important;
  border-top: 0px !important;
}

.selected-asig-706D54 {
  background-color: #706D54 !important;
  font-size: 18px !important;
}
.selected-asig-706D54 .item {
  font-size: 18px !important;
  border-top: 0px !important;
}





/* Eliminar en el futuro */

.selected-asig-FFD4B4 {
  background-color: #FFD4B4 !important;
  font-size: 18px !important;
}

.selected-asig-FFD4B4 .item {
  font-size: 18px !important;
}

.selected-asig-AFC3C4 {
  background-color: #AFC3C4 !important;
  font-size: 18px !important;
}
.selected-asig-FFC3C4 {
  background-color: #FFC3C4 !important;
  font-size: 18px !important;
}
.selected-asig-EFC3C4 {
  background-color: #EFC3C4 !important;
  font-size: 18px !important;
}
.selected-asig-FFEFAE {
  background-color: #FFEFAE !important;
  font-size: 18px !important;
}
.selected-asig-CDD6F6 {
  background-color: #CDD6F6 !important;
  font-size: 18px !important;
}
.selected-asig-BEE9DD {
  background-color: #BEE9DD !important;
  font-size: 18px !important;
}

.selected-asig-BEE9DD .item {
  font-size: 18px !important;
}

.selected-asig-00E0FC {
  background-color: #00E0FC !important;
  font-size: 18px !important;
}
.selected-asig-F1EFA5 {
  background-color: #F1EFA5 !important;
  font-size: 18px !important;
}
.selected-asig-F1F2EC {
  background-color: #F1F2EC !important;
  font-size: 18px !important;
}
.selected-asig-FECEA8 {
  background-color: #FECEA8 !important;
  font-size: 18px !important;
}
.selected-asig-FAD088 {
  background-color: #FAD088 !important;
  font-size: 18px !important;
}
.selected-asig-E0F6C3 {
  background-color: #E0F6C3 !important;
  font-size: 18px !important;
}
.selected-asig-FFCEA8 {
  background-color: #FFCEA8 !important;
  font-size: 18px !important;
}
.selected-asig-F9D423 {
  background-color: #F9D423 !important;
  font-size: 18px !important;
}
.selected-asig-F0B494 {
  background-color: #F0B494 !important;
  font-size: 18px !important;
}
.selected-asig-F7E4BE {
  background-color: #F7E4BE !important;
  font-size: 18px !important;
}
.selected-asig-F3EEA8 {
  background-color: #F3EEA8 !important;
  font-size: 18px !important;
}
.selected-asig-92D050 {
  background-color: #92D050 !important;
  font-size: 18px !important;
}
.selected-asig-F7E3BE {
  background-color: #F7E3BE !important;
  font-size: 18px !important;
}
.selected-asig-F1EFA4 {
  background-color: #F1EFA4 !important;
  font-size: 18px !important;
}
.selected-asig-E8CAA4 {
  background-color: #E8CAA4 !important;
  font-size: 18px !important;
}


.filters-select-container select {
  color: black !important; /* Letra en negro para el valor por defecto */
}

.filters-select:hover {
  background-color: #F3F4F6 !important;
  text-decoration: none !important;
  transition-duration: 0.1s !important;
}


.ui.selection.dropdown .menu {
  max-height: 200px; /* o el valor que desees */
  overflow-y: auto !important;
  overflow-x: hidden;
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #ccc transparent;
}

/* Personalización para navegadores basados en WebKit (Chrome, Edge, Safari) */
.ui.selection.dropdown .menu::-webkit-scrollbar {
  width: 6px;
}

.ui.selection.dropdown .menu::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 3px;
}

.ui.selection.dropdown .menu::-webkit-scrollbar-track {
  background: transparent;
}