#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }
  
  
  .cabeceraDocumento {
    max-height: 80vh; /* Limita la altura del contenedor principal */
    display: flex;
    flex-direction: column; 
    color: rgb(0, 0, 0);
  }
  
  
  .cabeceraDocumento .textoGrado {
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center; /* Centra los elementos verticalmente */
    font-weight: 500; /* Hace que el texto sea más fino */
    white-space: nowrap;
    margin-top: 50px;
  }
  
  .cabeceraDocumento .textoCursoMencion {
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center; /* Centra los elementos verticalmente */
    font-weight: bold; /* Pone el texto en negrita */
    white-space: nowrap;
  }
  
  .horario {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
  }
  
  
  .horario .diasSemana h3 {
    margin: 0;
    padding: 7px 0; /* Espaciado superior e inferior */
    font-weight: bold;
  }
  
  
  
  .horario .horasYSecciones {
    display: flex;
    flex-direction: row;
    align-items: start;
  }
  
  
  
  
  .horario .asignaturasHorario {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas */
    gap: 10px; /* Espaciado entre las columnas */
    align-items: start;
    width: 100%;
    margin-top: 50px;
    margin-left: 50px;
  }
  
  .asignaturasHorario .asignaturaItem {
    display: flex;
    justify-content: flex-start;  /* Alinea las siglas y el nombre en una fila */
    align-items: center; /* Alineación vertical para las siglas y nombre */
    padding: 5px;
  }
  
  .asignaturasHorario .siglasAsignatura {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    text-align: start;
    min-width: 80px; /* Define un ancho mínimo para las siglas */
  }
  
  .asignaturasHorario .nombreCompletoAsignatura {
    margin: 0;
    font-size: 20px;
    text-align: start;
  }
  