.cuadro-evento-asignatura-mod {
    display: flex;
    flex-direction: column;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    align-items: center;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    z-index: 1001;
    font-family: Arial, Helvetica, sans-serif;
    width: 85%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Arial, Helvetica, sans-serif;
    cursor:default;
}

.cuadro-evento-informacion-asignatura-mod {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.cuadro-evento-cabecera-mod {
    display: flex;
    justify-content: space-around;
    width: 100%; /* Asegura que ocupe todo el ancho del contenedor */
    padding: 5px;
}

.cuadro-evento-cabecera-mod .cuadro-evento-informacion-nombre-siglas-mod {
    font-size: 20px;
    margin-bottom: 0;
    margin-top: 5px;
    flex-grow: 1;
}



.cuadro-evento-boton-cerrar-mod {
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    color: rgb(30, 30, 30);
    background: none;
    border: none;
    outline: none;
    margin-left: auto;
    margin-right: 5px;
}

.contenido-tab-crear-asignatura-codigo-siglas-dia-hora-color-mod {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    gap: 20px;
}

.contenido-tab-crear-asignatura-codigo-siglas-nombre-completo-mod {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 55px;
    padding: 15px;
    background: #f7f5dd;
    border-radius: 10px;
    border: 0.5px solid rgb(220, 220, 220);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
    text-align: center;  /* Si hay texto dentro, lo centra */
}


.contenido-tab-crear-asignatura-semestre-grupo-subgrupo-tipo-duracion-aula-mod {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 35px;
    padding: 15px;
    background: #f7f5dd;
    border-radius: 10px;
    border: 0.5px solid rgb(220, 220, 220);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
    text-align: center;  /* Si hay texto dentro, lo centra */
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 22px;
}

.contenido-tab-crear-asignatura-estudios-profesores-mod {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 10px;
    margin-bottom: 10px;
    gap: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

.cabecera-estudios-mod {
    display: flex;
    flex-direction: row;
    font-size: 22px;
    font-weight: 600;
    gap: 60px;
}

.contenido-tab-crear-asignatura-profesores-mod {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 15px;
    padding: 15px;
    background: #f7f5dd;
    border-radius: 10px;
    border: 0.5px solid rgb(220, 220, 220);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;  /* Si hay texto dentro, lo centra */
    width: fit-content;
    align-items: center;
}

.contenido-tab-crear-asignatura-profesores-mod .apartado-profesores-mod {
    font-size: 22px;
    margin-top: 5px;
}

.apartado-profesores-mod {
    margin-bottom: 10px;
}


.campo-primer-profesor-mod {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 28px;
    margin-bottom: 20px;
}

.campo-primer-profesor-mod p {
    margin: 0;
    padding-right: 30px;
    font-size: 20px;
}

.contenido-tab-crear-asignatura-incidencias-mod {
    flex-wrap: wrap;
    gap: 15px;
    padding: 15px;
    background: #f7f5dd;
    border-radius: 10px;
    border: 0.5px solid rgb(220, 220, 220);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    align-items: center;
    /*width: fit-content;*/
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.contenido-tab-crear-asignatura-botones-mod {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 17px;
}