

/* Ajuste para inputs específicos */
.ui.input.codigo-asignatura input {
    display: flex;
    flex: none;
    width: 200px !important;
    padding: 17px !important;  /* Ajusta el padding */
    font-size: 20px !important; /* Tamaño de fuente */
    border: 2px solid #95c8ff !important; /* Borde personalizado */
    min-width: 0 !important;
    
}

.ui.input.siglas-asignatura input {
    display: flex;
    flex: none;
    width: 170px !important;
    padding: 17px !important;  /* Ajusta el padding */
    font-size: 20px !important; /* Tamaño de fuente */
    border: 2px solid #4efc9f !important; /* Borde personalizado */
    min-width: 0 !important;
}


/* Ajuste para inputs específicos */
.ui.input.nombre-completo input {
    display: flex;
    flex: none;
    width: 420px !important;
    padding: 17px !important;  /* Ajusta el padding */
    font-size: 20px !important; /* Tamaño de fuente */
    border: 2px solid #4efc9f !important; /* Borde personalizado */
    min-width: 0 !important;
    max-width: none !important;
}


.ui.input.subgrupo-laboratorio input {
    display: flex;
    flex: none;
    width: 150px !important;
    padding: 17px !important;  /* Ajusta el padding */
    font-size: 20px !important; /* Tamaño de fuente */
    border: 2px solid #4efc9f !important; /* Borde personalizado */
    min-width: 0 !important;
}

.ui.input.duracion input {
    display: flex;
    flex: none;
    width: 150px !important;
    padding: 17px !important;  /* Ajusta el padding */
    font-size: 20px !important; /* Tamaño de fuente */
    border: 2px solid #4efc9f !important; /* Borde personalizado */
    min-width: 0 !important;
}