.contenido-tab-crear-asignatura-codigo-siglas-dia-hora-color .ui.selection.dropdown {
    padding: 10px;
    margin-right: 40px;
    width: 170px !important;
    min-width: 0 !important;
    font-size: 22px !important;
    border: 2px solid #95c8ff !important;
}

.contenido-tab-crear-asignatura-codigo-siglas-dia-hora-color .ui.selection.dropdown .divider.text {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%; /* Asegura que ocupe todo el ancho del dropdown */
    text-align: center;
    margin-top: 8px;
}

.contenido-tab-crear-asignatura-codigo-siglas-dia-hora-color .ui.selection.dropdown .item {
    font-size: large;
}



.campos-semestre-grupo-subgrupo-tipo-duracion .ui.selection.dropdown.numero-semestre {
    padding: 10px;
    margin-right: 40px;
    width: 200px !important;
    min-width: 0 !important;
    font-size: 22px !important;
    border: 2px solid #95c8ff !important;
}

.campos-semestre-grupo-subgrupo-tipo-duracion .ui.selection.dropdown.numero-grupo {
    padding: 10px;
    margin-right: 40px;
    width: 170px !important;
    min-width: 0 !important;
    font-size: 22px !important;
    border: 2px solid #95c8ff !important;
}

.campos-semestre-grupo-subgrupo-tipo-duracion .ui.selection.dropdown.tipo-grupo {
    padding: 10px;
    margin-right: 40px;
    width: 100px !important;
    min-width: 0 !important;
    font-size: 22px !important;
    border: 2px solid #95c8ff !important;
}


.campos-semestre-grupo-subgrupo-tipo-duracion .ui.selection.dropdown .divider.text {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%; /* Asegura que ocupe todo el ancho del dropdown */
    text-align: center;
    margin-top: 8px;
}

.campos-semestre-grupo-subgrupo-tipo-duracion .ui.selection.dropdown .item {
    font-size: large;
}

