.ScheduleCreationInput.ui.input input {
    padding: 10px !important;  /* Ajusta el padding */
    font-size: 20px !important; /* Tamaño de fuente */
    border: 2px solid #95c8ff !important; /* Borde personalizado */
    min-width: 0 !important;
    max-width: 100 !important;
    margin-right: 10px;
}

.ui.input {
    min-width: 0 !important;
    max-width: 100 !important;
}

/* Ajuste para inputs específicos */
.ScheduleCreationInput.codigo-asignatura input {
    width: 50px !important;
}

.ScheduleCreationInput.siglas-asignatura input {
    width: 120px !important;
}