.campos-semestre-grupo-subgrupo-tipo-duracion-aula .ui.selection.dropdown {
    padding: 10px !important;
    width: 200px !important;
    min-width: 0 !important;
}


.campos-estudios .ui.selection.dropdown {
    padding: 10px;
    width: 100px !important;
    min-width: 0 !important;
    font-size: 20px;
    border: 2px solid #95c8ff !important;
    margin-bottom: 27px;
}

.campos-estudios .ui.selection.dropdown .divider.text {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%; /* Asegura que ocupe todo el ancho del dropdown */
    text-align: center;
    margin-top: 5px;
}

.campos-estudios .ui.selection.dropdown .item {
    font-size: large;
}


.contenido-tab-crear-asignatura-profesores .ui.selection.dropdown {
    min-width: 0 !important;
    font-size: 20px;
    border: 2px solid #95c8ff !important;
    padding: 10px;
    margin-right: 40px;
}

.contenido-tab-crear-asignatura-profesores .ui.selection.dropdown .divider.text {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%; /* Asegura que ocupe todo el ancho del dropdown */
    text-align: center;
    margin-top: 7px;
    margin-right: 40px;
}

.contenido-tab-crear-asignatura-profesores .ui.selection.dropdown .item {
    font-size: large;
}