.ui.form textarea.areaTextoInformativo[readonly] {
    color: black !important;
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 26px !important;
    background: rgb(255, 255, 255) !important;
    border: 0.5px solid rgb(222, 222, 222) !important;
    resize: both !important;
    overflow: auto !important;
    opacity: 1 !important;
}

.ui.form textarea.areaTextoInformativo,
.ui.form .areaTextoInformativo {
    color: black !important;
}